html {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h2, h4, p {
    margin: 0;
}

body {
   background-color: #e5eff5;
   padding: 20px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.drop-shadow {
    box-shadow: -1px 5px 12px -2px rgba(0,0,0,0.31);
    -webkit-box-shadow: -1px 5px 12px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: -1px 5px 12px -2px rgba(0,0,0,0.31);
}

#card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 425px;
    border-radius: 8px;
    overflow: hidden; /* masks anything inside that spills out */
}

#top-section {
    width: 100%;
    height: 47%;
    background-color: white;
    color: #a1b0c8;
}

h2, h4, #price {
    font-weight: 700;
}

#top-section h2 {
    margin-bottom: 20px;
    color: #2ab2af;
}

#top-section h4 {
    margin-bottom: 12px;
    color: #c0df34;
}

#bottom-section {
    width: 100%;
    height: 53%;
}

#top-section, #bottom-left-section, #bottom-right-section {
    padding: 30px;
}

/*
Don't want to make these 2 bottom sections Inline, because Inline doesn't respect
width and height. Go for Inline-block. Also use vertical align on inline, 
inline-block and table cell elements
*/
#bottom-left-section, #bottom-right-section {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;
    color: white;
}

#bottom-left-section {
    background-color: #2ab2af;
}

#bottom-left-section h4 {
    margin-top: 3px;
    margin-bottom: 15px;
}

#price-container {
    margin-bottom: 8px;
}

#price {
    display: inline-block;
    font-size: 1.75rem;
}

#per-month {
    display: inline-block;
    position: relative;
    top: -5px;
    left: 10px;
    color: #5fd7d5;
    font-size: .8rem;
}

#bottom-left-section p {
    margin-bottom: 25px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #c0df34;
    border-radius: 5px;
    border: none;
    color: white;
}

button:hover {
    background-color: #f3ffbf;
    color: #747e45;
    cursor: pointer;
    transform: scale(1.05);
}

#bottom-right-section {
    background-color: #4ac1bf;
}

#bottom-right-section ul {
    list-style: none;
    padding: 0;
}

#bottom-right-section li {
    margin-bottom: 2px;
    font-size: .9rem;
    color: #a2ecea;
}

footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0px;
}
